.login{
    display: grid;
    justify-content: center;
}
.inputDiv{
    display: grid;
    padding-bottom: 1rem;
}
input{
    padding:0.5rem
}
label{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

button{
    padding: 0.5rem;
    width: 7vw;
    color: white;
    background: #3B82F6;
    border: 1px solid #3B82F6;
    cursor: pointer;
}